:root {
    --lightblue: rgb(31, 144, 219);
    --lightgrey: rgb(209, 209, 209);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.grid {
    display: grid;
}

body {
    height: 100vh;
    grid-template: auto 3fr / minmax(max-content, 15%) 3fr;
}

header {
    background-color: white;
    grid-column: 2;
    padding: 5px 10px;
}

main {
    grid-template-columns: 2fr 1fr;
    background-color: var(--lightgrey);
    padding: 10px;
}

article {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: 200px;
    gap: 10px;
    padding-right: 10px;
}

section {
    gap: 10px;
}

.card {
    background-color: white;
}

aside {
    background-color: var(--lightblue);
    grid-row: 1 / span 2;
    grid-auto-rows: 40px;
    padding: 15px 30px 50px 15px;
    // justify-items: start;
    
    div {
        display: flex;
    }

    h2 {
        color: white;
    }

    img {
        height: 32px;
    }
}